<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/product">Produit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/residence">Résidence</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/form">Formulaire</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Formappart">Formulaire Appartement</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search" #searchQuery>
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="searchLink(searchQuery.value)">Rechercher</button>
        </form>
    </div>
</nav>
